
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="profile-container">
        <h1>Your Profile</h1>
        <div class="profile-card">
            <h2>User Information</h2>
            <p><strong>Username:</strong> {{ user.username }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Full Name:</strong> {{ user.get_full_name }}</p>
            <h3>Contact Details</h3>
            <p><strong>Phone:</strong> {{ user.profile.voter.phone_number }}</p>
            <p><strong>Address:</strong> {{ user.profile.voter.address }}</p>
            <h3>Additional Information</h3>
            <p><strong>Second Name:</strong> {{ user.profile.voter.second_name }}</p>
            <p><strong>Third Name:</strong> {{ user.profile.voter.third_name }}</p>
            <p><strong>Identity Card Number:</strong> {{ user.profile.voter.identity_card_number }}</p>
            <p><strong>Date of Birth:</strong> {{ user.profile.voter.date_of_birth }}</p>
        </div>
    </div>
    <link rel="stylesheet" href="{% static "main/profile.css" %}">

   
{% endblock %}
